html {
	scroll-behavior: smooth;
}

button:focus{
	outline:none;
}

h1 {
	color: black;
	font-family: 'Dosis', sans-serif;
	font-size: 150%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

body{
	display: grid;
	grid-template-columns: 20px auto 20px;
	grid-template-rows: 150px auto 30px;
	font-family: 'Dosis', sans-serif;
	
}

#fix {
	display: grid;
	overflow: hidden;
	background-color: #d9ece8;
	position: fixed;
	top: 0px ;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	box-shadow: 0px 6px 8px 4px #303e323d;
    grid-template-columns: repeat(5,30px auto) 10px;
	grid-template-rows: 10px auto 10px;
	transition: top 0.8s;
}


.menu {
	background-color: #d9ece8;
	border: none;
	letter-spacing: 3px;
	text-align: center;
	border-radius: 25px 8px;
	opacity : 0.6;
	transition : 0.5s;
	padding: 20px;
}

#but_accueil {
	grid-column-start:2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#but_productions {
	grid-column-start:4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#but_compétences {
	grid-column-start:6;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
}

#but_hobbies {
	grid-column-start:8;
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 3;
}

#but_contact {
	grid-column-start:10;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 3;
}

.page {
	display: none;
	grid-column-start:2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #d9ece8 ;
	border-radius: 2px 2px;

}

h2 {
	color: black;
	font-family: 'Dosis', sans-serif;
	font-size: 5vw;
	text-align: left;
	letter-spacing: 10px;
	margin-left: 20%;
	margin-top: 8%;
	margin-bottom: 15%;
}

h3 {
	color: black;
	font-size: 150%;
	text-align: center;
	margin :auto;
	border :2px solid;
	border-radius: 5px;
	padding: 40px;
	margin: 75px;
	margin-top: 300px;
}

#pp {
	position: sticky;
	top: 200px;
	float: right;
	margin-right: 80px;
	margin-top: 160px;
}

p {
	font-size: 2vw;
	margin-left: 10%;
	margin-bottom: 120px;
	text-indent: 8.5%;
	border-radius: 10px 10px;
	padding: 20px;
	background-color: rgb(155, 193, 185, 0.8);
}


#info {
	margin-right: 60%;
	
}

#actuellement {
	background-color: rgb(155, 193, 185, 0.8);
	margin-right: 30%;
}

#pvoyage, #pscoutisme, #pDinant, #pPalerme, #pPalma, #pOxford, .parallaxtxt {
	position: static;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pPalma {
	background-image: url(img/Palma.jpg);
	height: 400px;
	margin: 10px;
}

#pDinant {
	background-image: url(img/Dinant.jpg);
	height: 400px;
	margin-right: 10%;
}

#pPalerme {
	background-image: url(img/Palerme.jpg);
	height: 400px;
	margin-left: 10%;
}

#pOxford {
	background-image: url(img/Oxford.jpg);
	height: 400px;
	margin-right: 20%;
}

#pscoutisme {
	background-image: url("img/marseille.jpg");
	height : 300px;
	width: 60%;
	margin-left: 10%;
}

.parallaxtxt {
	margin: 20px;
	text-align: center;
	z-index: 1;
}

#tvoyager,#tscout {
	font-size: 25px;
}

.bhobbies {
	font-family: 'Dosis', sans-serif;
    font-size: 16px;
	border: 2px solid;
    border-color: black;
    padding: 2% 6%;
    margin: 4%;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

#phs1 {
	margin-left: 20%;
    margin-right: 3%;
    box-shadow: inset 10px 6px 9px -1px #303e323d;
}

#phs2 {
	margin-left: 4%;
    margin-right: 11%;
    margin-top: -5%;
    box-shadow: 10px 6px 5px -1px #303e323d;
}

